Repository dAppServer/devops: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pages, build, build.deploy

pages:
  image: python:3.8-buster
  before_script:
  - pip install -r requirements.txt
  - pip install git+https://$protected_material_token@github.com/squidfunk/mkdocs-material-insiders.git
  stage: deploy
  script:
  - mkdocs build --strict --verbose
  artifacts:
    paths:
    - public

build:
  stage: build
  image: docker
  variables:
    DOCKER_HOST: tcp://docker:2375
  services:
  - name: docker:dind
    command:
    - --experimental
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
  ...

build.deploy:
  stage: deploy
  image: docker
  variables:
    DOCKER_HOST: tcp://docker:2375
  services:
  - name: docker:dind
    command:
    - --experimental
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
  - docker pull -a $CI_REGISTRY_IMAGE
  ...

trying to include the main build job diffrently
  .gitlab-ci.yml
Due: none

Test: main build trigger on change detection
  build-src/Makefile
Due: none

documentation update
  docs/index.md
Due: pages

Master branch freeze, alpha 1
  .gitignore
  .gitlab-ci.yml
  .idea/.gitignore
  .idea/devops.iml
  .idea/modules.xml
  .idea/runConfigurations/Base_OS_Image.xml
  .idea/vcs.xml
  CODEOWNERS
  Makefile
  README.md
  build-conf/.gitlab-ci.yml
  build-conf/build.Dockerfile
  build-conf/chain/.gitlab-ci.yml
  build-conf/chain/linux.Dockerfile
  build-conf/wallet/.gitlab-ci.yml
  build-conf/wallet/android.Dockerfile
  build-conf/wallet/linux.Dockerfile
  build-conf/wallet/windows.Dockerfile
  build-dist/.gitkeep
  build-src/Dockerfile
  build-src/Makefile
  build-src/build.sh
  build-src/dist/.lthnkeep
  build-src/src/.lthnkeep
  docs/CODEOWNERS
  docs/documentation/setup.md
  docs/git/commit-signing.md
  docs/gitlab/docker-gitlab-runner.md
  docs/index.md
  docs/overrides/main.html
  docs/repositories/docker.md
  docs/repositories/git.md
  docs/stylesheets/extra.css
  docs/usage/api.md
  docs/usage/index.md
  docs/usage/options.md
  mkdocs.yml
  requirements.docs.txt
  requirements.txt
Due: pages, build, build.deploy

adds a better ubuntu starter `lthn/build:base-ubuntu`/`lthn/build:base-ubuntu-16.04`
  Makefile
  build-conf/base/.gitlab-ci.yml
  build-conf/base/ubuntu.Dockerfile
Due: none

modifies the docker deploy job to dynamically push a unknown set of tags from repo a to repo b with a grep filter to ignore tags, all via CI variables.
  build-conf/.gitlab-ci.yml
Due: build.deploy

random change to trigger a test pipeline for lethean/build:base-ubuntu
  build-conf/base/ubuntu.Dockerfile
Due: none

adds noninteractive env variable
  build-conf/base/ubuntu.Dockerfile
Due: none

testing CI builds for `lthn/build:base-ubuntu`, `lthn/build:base-ubuntu-16.04`, `lthn/build:base-ubuntu-18.04`, `lthn/build:base-ubuntu-20.04` while i write documentation
  Makefile
  build-conf/base/ubuntu.Dockerfile
Due: none

Improved the gitlab-cit > docker tag > file path mapping.
  README.md
  build-conf/base/.gitlab-ci.yml
  build-conf/base/ubuntu/.gitlab-ci.yml
  build-conf/base/ubuntu/16-04.Dockerfile
  build-conf/base/ubuntu/18-04.Dockerfile
  build-conf/base/ubuntu/20-04.Dockerfile
  build-conf/chain/.gitlab-ci.yml
  build-conf/wallet/.gitlab-ci.yml
  docs/index.md
Due: pages

adds some docs
  .gitlab-ci.yml
  README.md
  docs/index.md
Due: pages

documentation update
  docs/developers/api.md
  docs/developers/options.md
  docs/index.md
  docs/usage/base-images.md
  docs/usage/buider.md
Due: pages

documentation update and moves lthn builders to a lthn folder
  build-conf/chain/.gitlab-ci.yml
  build-conf/lthn/chain/.gitlab-ci.yml
  build-conf/lthn/chain/linux.Dockerfile
  build-conf/lthn/wallet/.gitlab-ci.yml
  build-conf/lthn/wallet/android.Dockerfile
  build-conf/lthn/wallet/linux.Dockerfile
  build-conf/lthn/wallet/windows.Dockerfile
  build-conf/wallet/.gitlab-ci.yml
Due: none

updates readme
  README.md
Due: none

clean up
  docs/usage/api.md
  docs/usage/index.md
  docs/usage/options.md
Due: none

deployment fix
  build-conf/.gitlab-ci.yml
Due: build.deploy

adds grep to the deployment runner task
  build-conf/.gitlab-ci.yml
Due: build.deploy

only grab tags that have changed since the last push
  build-conf/.gitlab-ci.yml
Due: build.deploy

grep fix for alpine
  build-conf/.gitlab-ci.yml
Due: build.deploy

removing grep call not needed, was to filter invalid images.
  build-conf/.gitlab-ci.yml
Due: build.deploy

trying to get tagging working nicely in default alpine
  build-conf/.gitlab-ci.yml
Due: build.deploy

fix for missing registry value in docker image
  build-conf/.gitlab-ci.yml
Due: build.deploy

adds a test script and fixes migrating tags from gitlab to docker hub
  build-conf/.gitlab-ci.yml
  build-test/tag-images.sh
Due: build.deploy

#in-theory
  build-conf/.gitlab-ci.yml
Due: build.deploy

#in-theory
  build-conf/.gitlab-ci.yml
  build-test/tag-images.sh
Due: build.deploy

ci improvments / structure update
  .gitlab-ci.yml
  build-conf/base/.gitlab-ci.yml
  build-conf/base/ubuntu.yml
  build-conf/base/ubuntu/.gitlab-ci.yml
  build-conf/base/ubuntu/16-04.yml
  build-conf/base/ubuntu/18-04.yml
  build-conf/base/ubuntu/20-04.yml
  build-conf/build.yml
  build-conf/lthn/chain/.gitlab-ci.yml
  build-conf/lthn/chain/linux.yml
  build-test/tag-images.sh
Due: build.deploy

fix: base-ubuntu-20-04.deploy
  build-conf/base/ubuntu/20-04.yml
Due: none

refactoring
  build-conf/base/ubuntu.yml
  build-conf/base/ubuntu/16-04.yml
  build-conf/base/ubuntu/18-04.yml
  build-conf/build.yml
  build-conf/lthn/chain/linux.yml
Due: build.deploy

Test: ci change to trigger a tag push instantly after a good build without waiting for the others
  build-conf/build.yml
Due: build.deploy

adds build.yml to change detection
  build-conf/build.yml
Due: build.deploy

build performance update
  build-conf/base/ubuntu.yml
  build-conf/base/ubuntu/16-04.yml
  build-conf/base/ubuntu/18-04.yml
  build-conf/base/ubuntu/20-04.yml
  build-conf/lthn/chain/linux.yml
Due: none

testing deployment environment integration
  build-conf/base/ubuntu.yml
Due: none

Path conditions:
  pages: any of: docs/*
  build: any of: build-conf/build.Dockerfile, src/*
  build.deploy: any of: build-conf/*, src/*
