Repository dAppServer/devops: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pages, build, chain.linux, wallet.linux, wallet.windows, wallet.android

pages:
  image: python:3.8-buster
  before_script:
  - pip install -r requirements.docs.txt
  stage: deploy
  script:
  - mkdocs build --strict --verbose
  artifacts:
    paths:
    - public

build:
  stage: build
  image: lthn/build
  variables:
    DOCKER_HOST: tcp://docker:2375
  services:
  - name: docker:dind
    command:
    - --experimental
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
  ...

chain.linux:
  stage: build
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
  - docker build --squash -t lthn/build:chain -f build-conf/chain/linux.Dockerfile src
  ...

wallet.linux:
  stage: build
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
  - docker build --squash -t lthn/build:wallet-linux -f build-conf/wallet/linux.Dockerfile src
  ...

wallet.windows:
  stage: build
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
  - docker build --squash -t lthn/build:wallet-windows -f build-conf/wallet/windows.Dockerfile src
  ...

wallet.android:
  stage: build
  image: docker
  services:
  - name: docker:dind
    command:
    - --experimental
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
  - docker build --squash -t lthn/build:wallet-android -f build-conf/wallet/android.Dockerfile src
  ...

adds gitlab settings to run on default branch
  .gitlab-ci.yml
Due: none

fix for chain.linux build
  build-conf/chain/linux.Dockerfile
Due: chain.linux

fix for lthn/build build
  .gitlab-ci.yml
Due: none

libboost fix for chain.linux.build
  .gitlab-ci.yml
  build-conf/chain/linux.Dockerfile
Due: chain.linux

New feature, can now run lthn/build as a container to build make projects, pre configured lthn projects: `docker run --privileged -v $(pwd):/home/build/dist -it lthn/build lthn/chain`
  .gitlab-ci.yml
  .idea/runConfigurations/Base_OS_Image.xml
  Makefile
  README.md
  build-conf/build.Dockerfile
  build-dist/.gitkeep
  docs/documentation/setup.md
  docs/git/commit-signing.md
  docs/index.md
  docs/local-gitlab-runner/docker-gitlab-runner.md
  src/Makefile
  src/build.sh
  src/src/.lthnkeep
Due: pages, build

Adds deployment jobs for all base images and uses the internal cache on dev builds
  .gitignore
  .gitlab-ci.yml
Due: none

one job needs to be called build
  .gitlab-ci.yml
Due: none

allowing base image failures to not stop the main pipeline build.
  .gitlab-ci.yml
Due: none

fixes windows base image build trigger
  .gitlab-ci.yml
Due: none

removes .idea
  .idea/.gitignore
  .idea/devops.iml
  .idea/modules.xml
  .idea/runConfigurations/Base_OS_Image.xml
  .idea/vcs.xml
Due: none

CI tweaks
  .gitlab-ci.yml
  src/build.sh
Due: none

CI tweaks - adds windows base image
  .gitlab-ci.yml
Due: none

makes the new base images optional so the two previously working images push through to docker
  .gitlab-ci.yml
  CODEOWNERS
  docs/CODEOWNERS
Due: pages

splits gitlab ci files to their separate folders, main file includes them with a wildcard
  build-conf/chain/.gitlab-ci.yml
  build-conf/wallet/.gitlab-ci.yml
Due: none

splits gitlab ci files to their separate folders, main file includes them with a wildcard
  .gitlab-ci.yml
  README.md
  build-conf/chain/.gitlab-ci.yml
  build-conf/wallet/.gitlab-ci.yml
Due: none

include fix
  .gitlab-ci.yml
Due: none

change to deploy (you cant run multiple deploys to te same environment, would be helpful)
  .gitlab-ci.yml
  build-conf/chain/.gitlab-ci.yml
Due: none

adds documentation for the builder
  .gitlab-ci.yml
  README.md
  docs/functions/build.md
  docs/functions/environment-vars.md
  docs/functions/interactions.md
  docs/index.md
  docs/stylesheets/extra.css
  mkdocs.yml
  requirements.docs.txt
Due: pages

only run the deploy job is branch == master & changes happened in src/8 or build-conf/* + adds i18n and document create/update times from git history.
  .gitlab-ci.yml
  requirements.txt
Due: none

build image size optimisation + pipeline change to just build the changed tags
  .gitlab-ci.yml
  build-conf/chain/.gitlab-ci.yml
  build-conf/wallet/.gitlab-ci.yml
Due: none

adds documentation system files to pipeline change detection
  .gitlab-ci.yml
  requirements.txt
Due: none

fix for main + chain build change detection
  .gitlab-ci.yml
  build-conf/chain/.gitlab-ci.yml
Due: none

fix for change detection so it matches recursively
  .gitlab-ci.yml
Due: none

Test: trigger documentation build - pip module change
  requirements.txt
Due: none

Test(pass, reverting): trigger documentation build - pip module change
  requirements.txt
Due: none

Test: trigger documentation build - file change
  docs/local-gitlab-runner/docker-gitlab-runner.md
  docs/repositories/docker.md
  docs/repositories/git.md
Due: none

documentation update
  docs/functions/build.md
  docs/functions/interactions.md
  docs/functions/list.md
  src/build.sh
Due: none

documentation update
  docs/overrides/main.html
Due: none

documentation update
  docs/index.md
Due: pages

updates design to be the same as the vpn, will make it look like the website soon(ish)
  docs/stylesheets/extra.css
  mkdocs.yml
Due: none

documentation update
  docs/functions/build.md
  docs/index.md
Due: pages

adds cache to the documentation pip build
  .gitlab-ci.yml
Due: none

Testing cache
  docs/functions/build.md
Due: none

Documentation update
  docs/usage/api.md
  docs/usage/building.md
  docs/usage/options.md
Due: none

Documentation menu alteration
  docs/usage/index.md
Due: none

Documentation update
  docs/index.md
Due: pages

move gitlab-ci rules out of the base file, renames src to build-src
  .gitlab-ci.yml
  Makefile
  build-conf/.gitlab-ci.yml
  build-conf/chain/.gitlab-ci.yml
  build-conf/wallet/.gitlab-ci.yml
  build-src/Dockerfile
  build-src/Makefile
  build-src/build.sh
  build-src/dist/.lthnkeep
  build-src/src/.lthnkeep
Due: none

trying to include the main build job diffrently
  .gitlab-ci.yml
  build-conf/.gitlab-ci.yml
Due: none

Path conditions:
  pages: any of: docs/*
  build: any of: build-conf/build.Dockerfile
  chain.linux: any of: build-conf/chain/linux.Dockerfile
  wallet.linux: any of: build-conf/wallet/linux.Dockerfile
  wallet.windows: any of: build-conf/wallet/windows.Dockerfile
  wallet.android: any of: build-conf/wallet/android.Dockerfile
